[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
	branch = warrior
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = warrior
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = warrior
[submodule "meta-shairport-sync"]
	path = meta-shairport-sync
	url = https://github.com/Youx/meta-shairport-sync.git
	branch = warrior
